/* 
========================== 
Default styles
==========================
*/
:root {
  --main-bg-color: #eaecf2;
  --calendio-indigo: #11225b;
  --calendio-dark-purple: #140f46;
  --calendio-purple: #393dcf;
  --secondary-text: #433d5c;
}
body {
  background: var(--main-bg-color);
  font-family: Helvetica, sans-serif;
  margin: 0;
  width: 100%;
}

.main-site {
  display: flex;
  flex-direction: column;
}
button {
  cursor: pointer;
}
/* 
========================== 
Header styles
==========================
 */
.header {
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  transition: background-color 0.3s, position 0.3s;
  z-index: 999;
  /* padding: 25px 30px; */
}
.header-container {
  display: flex;
  padding: 25px 30px;
  justify-content: space-between;
}
.desktop-nav-container {
  display: none;
}
.scrolled {
  background-color: white;
}

.mobile-hamburger-icon {
  background: none;
  border: none;
  width: 36px;
  height: 28px;
}

/* Responsive Header Styles */
@media screen and (min-width: 1400px) {
  .header-container {
    padding: 25px 30px;
    max-width: 1400px;
    margin: 0 auto;
  }

  .header-logo-container {
    margin-right: 80px;
  }
  .desktop-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .nav-list {
    display: flex;
    padding: 0;
    margin: 0;
  }
  .nav-item {
    list-style-type: none;
    margin-right: 50px;
  }
  .nav-link {
    color: var(--calendio-dark-purple);
    text-decoration: none;
    font-size: 20px;
    transition: all 0.4s ease-in-out;
    font-size: 14px;
    font-weight: bold;
  }
  .nav-link:hover {
    color: var(--calendio-purple);
  }
  .mobile-menu-container {
    display: none;
  }
  .desktop-nav-buttons {
    display: flex;
  }
  .desktop-nav-buttons button {
    font-size: 15px;
    padding: 10px 15px;
  }
  .desktop-nav-buttons .cta-trial-btn {
    margin-bottom: 0;
    margin-right: 20px;
  }
}
/* 
========================== 
Hero styles
==========================
 */

.hero {
  margin: 50px 0 100.35px;
}
.hero-container {
  margin-inline: 30px;
}
.hero-title-container {
  margin-bottom: 30px;
  /* width: 100%; */
}
.hero-title {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: var(--calendio-dark-purple);
  margin: 0;
}
.hero-description-container {
  margin-bottom: 30px;
}
.hero-description-text {
  color: var(--secondary-text);
  line-height: 30px;
}

.hero-image {
  max-width: 100%;
  width: 100%;
}

.cta-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.cta-container button,
.desktop-nav-buttons button {
  color: #fff;
  border-radius: 2px;
  border: none;
  font-weight: bold;
}
.cta-container button {
  padding: 20px 25px;
  font-size: 18px;
}
.cta-trial-btn {
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}
.cta-trial-btn:hover {
  color: var(--calendio-purple);
}
.cta-trial-btn span {
  position: relative;
  z-index: 2;
}
.cta-trial-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--calendio-purple);
  transition: all 0.3s;
}
.cta-trial-btn:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.cta-trial-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid var(--calendio-purple);
  transform: scale(1.2, 1.2);
}
.cta-trial-btn:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
.cta-demo-btn {
  /* background: var(--calendio-indigo); */
  position: relative;
  color: #fff;
}
.cta-demo-btn:hover {
    color: var(--calendio-indigo);
  }
  .cta-demo-btn span {
    position: relative;
    z-index: 2;
  }
  .cta-demo-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--calendio-indigo);
    transition: all 0.3s;
  }
  .cta-demo-btn:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  .cta-demo-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid var(--calendio-indigo);
    transform: scale(1.2, 1.2);
  }
  .cta-demo-btn:hover::after {
    opacity: 1;
    transform: scale(1, 1);
  }

/* Responsive Hero Styles */
@media screen and (min-width: 1024px) {
  .hero-container {
    display: flex;
    justify-content: space-between;
    margin-inline: 0px;
    max-width: 1400px;
    margin: 0 auto;
    padding-inline: 30px;
  }
  .hero-content-container {
    width: 560px;
  }
  .cta-container {
    flex-direction: row;
  }
  .cta-trial-btn {
    margin-right: 30px;
    margin-bottom: 0px;
  }
  .hero-description-text {
    font-size: 20px;
  }
}

/* 
========================== 
Partners styles
==========================
 */
.partners-section {
  background: var(--calendio-dark-purple);
}

.partners-grid {
  margin: 0 auto;
  padding: 60px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 40px 20px;
}
.partner-item {
  list-style-type: none;
}
.partner-image {
  max-width: 100%;
}
/* Responsive Partner */

@media screen and (min-width: 1024px) {
  .partners-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-inline: 0px;
    max-width: 1400px;
  }
}

/* 
========================== 
Benefits Styles
==========================
 */
.benefits-section {
  background: #fff;
}

.benefits-container {
  padding: 120px 30px;
}
.benefit-container {
  margin-bottom: 120px;
}
.benefit-title-container {
  margin-bottom: 20px;
}
.benefit-title {
  font-size: 40px;
  color: var(--calendio-dark-purple);
  margin: 0;
}
.benefit-description-container {
  margin-bottom: 60px;
}
.benefit-description {
  font-size: 18px;
  color: var(--secondary-text);
}

.benefit-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.benefit-image {
  max-width: 100%;
}

.sticky-image-container {
  display: none;
}
/* Responsive Benefits */

@media screen and (min-width: 1024px) {
  .benefits-container {
    padding: 120px 0px;
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
    padding-inline: 30px;
  }

  .benefit-content-container {
    max-width: 440px;
    margin-bottom: 340px;
  }

  .benefit-image-container {
    display: none;
  }

  .sticky-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 20%;
    /* transform: translateY(-20%); */
    height: 480px;
    width: 560px;
  }

  .sticky-image {
    height: auto;
    width: 100%;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all 0.5s ease-in-out;
    scale: 0.4;
    top: 0;
    width: 560px;
  }

  .sticky-image.show-image {
    opacity: 1;
    height: 100%;
    display: block;
    visibility: visible;
    scale: 1;
  }
}
/* 
========================== 
Features Styles
==========================
 */

.features-container {
  padding: 120px 30px;
}

.features-img-container {
  width: 100%;
  margin-bottom: 40px;
}
.features-image {
  width: 100%;
  max-width: 680px;
  display: none;
  margin: 0 auto;
}

.features-image.active {
  display: block;
}
.features-accordion-container {
  border-bottom: 1px solid #d0d6e7;
}

.features-progress-container {
  margin-bottom: 25px;
}

.features-progress-bar {
  height: 1px;
  width: 100%;
  background: #d0d6e7;
  /* transition: height 0.3s ease-in-out; */
}

.features-complete {
  height: 100%;
  width: 0%;
  background-color: var(--calendio-purple);
  display: none;
  /* transition: width 0.3s ease-in; */
}

.features-title-container {
  margin-bottom: 20px;
  cursor: pointer;
}
.features-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: var(--calendio-dark-purple);
}

.features-content-container {
  margin-bottom: 20px;
  display: none;
  transition: display 0.3s ease-in-out;
}
.opened .features-content-container {
  display: block;
}
.opened .features-progress-bar {
  height: 4px;
}
.opened .features-complete {
  display: block;
}

.features-link-container {
  margin-bottom: 25px;
}
.features-link {
  color: var(--calendio-purple);
  font-weight: bold;
  text-decoration: none;
}

/* Features Responsive */

@media screen and (min-width: 1024px) {
  .features-container {
    display: grid;
    padding: 120px 0px 126px;
    grid-template-columns: 1fr 440px;
    gap: 0px 40px;
    max-width: 1160px;
    margin: 0 auto;
    padding-inline: 30px;
  }
}

/* 
========================== 
Newsletter Styles
==========================
 */
.newsletter-section {
  background-color: var(--calendio-dark-purple);
}
.newsletter-container {
  padding: 80px 30px;
}
.newsletter-title-container {
  margin-bottom: 40px;
}
.newsletter-title {
  color: #fff;
  font-size: 40px;
  margin: 0;
}

.newsletter-form-group {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
}
.newsletter-form-input {
  padding-left: 15px;
  border: none;
  color: var(--secondary-text);
  font-size: 18px;
  flex-grow: 1;
}

.newsletter-form-submit {
  padding: 20px 25px;
  background: var(--calendio-purple);
  color: #fff;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  flex-grow: 0;
}
/* Responsive newsletter */
@media screen and (max-width: 432px) {
    .newsletter-form-input{
        font-size: 12px;
        padding-left: 2px;
    }
    .newsletter-form-submit{
        padding: 15px 18px;
    }
}
@media screen and (min-width: 1440px) {
  .newsletter-container {
    display: grid;
    max-width: 1400px;
    grid-template-columns: 1fr 1fr;
    /* padding: 76px 260px; */
    gap: 0 166px;
    margin: 76px auto;
    padding: 0;
    align-items: center;
  }
  .newsletter-title-container {
    margin-bottom: 0;
  }
  .newsletter-title {
    white-space: nowrap;
  }
}
/* 
========================== 
Footer Styles
==========================
 */

.footer {
  border-top: 1px solid #434064;
  background: var(--calendio-dark-purple);
}

.footer-container {
  padding: 50px 30px;
  max-width: 1400px;
}
.footer-logo-container {
  margin-bottom: 40px;
}
.footer-nav {
  margin-bottom: 40px;
}
.footer-nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-nav-list .nav-item .nav-link {
  color: #fff;
  font-weight: 14px;

  text-decoration: none;
}

.footer-nav-list .nav-item {
  margin-bottom: 20px;
}

.copyright-text {
  color: #ffffff;
  font-size: 14px;
}

/* Responsive footer */

@media screen and (min-width: 1440px) {
  .footer {
    border-top: none;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 113px 1fr 245px;
    margin: 0 auto;
    align-items: center;
    padding: 25px 0;
  }
  .footer-logo-container {
    margin-bottom: 0;
  }
  .footer-nav {
    margin-bottom: 0;
  }
  .footer-nav-list {
    display: flex;
    margin-left: 80px;
  }
  .footer-nav-list .nav-item {
    margin-bottom: 0;
  }
}
